*{
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.main-div {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.sidenav {
    height: 100%;
    width: 60px;
    background-color: #10111e;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: #1d1e32;
}

.sidenav-items {
    height: 100px;
    width: 100%;
}

.logo {
    height: 60px;
}

.logo-image {
    background-position: center !important;
    height: 40px;
    width: 40px;
    background-size: cover !important;
}



.navbar-tabs {
    min-width: 200px;
    color: white;
    letter-spacing: 2px;
}

.selected  {
    border-bottom: 4px solid red;
} 